<h4>Collaborators</h4>

<?php
if(count($queue->getLastTicketConsumedByUsers()) > 0) {
	$lastTicket = $queue->getLastTicket();
	echo '<table>';
	foreach($queue->getLastTicketConsumedByUsers() as $userId => $consumedTicket) {
		echo '<tr>';
		echo '	<td class="username">'.htmlentities($userId).'</td>';
		echo '  <td><div class="graph"><strong class="bar" style="width: '.(($consumedTicket*100)/$lastTicket).'%;"><span>'.$consumedTicket.'</span></strong></div></td>';
		echo '  <td class="date">Apr 1st, 2011 10:14am</td>';
		echo '</tr>';
	}
	echo '</table>';
} else {
?>
<p class="small">none</p>
<?php
}
?>
