<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
	<head>
		<title>DooSo6: Easy Collaboration</title>
		<link rel="stylesheet" type="text/css" href="../css/dso6.css"/>
	</head>
	<body>
		<div id="nonFooter">
			<div id="content">
				<div id="banner">
				
				
				</div>
				<div id="main">
					<div id="center">
					
					<h3>Update from Repository</h3>


					<?php include 'RepositoryView.tmpl'; ?>
					<?php include 'CollaboratorsView.tmpl'; ?>
								
					<br/><br/>

					<!--
					<form action="../dso6.jnlp">
						<input type="hidden" name="resource" value="<?php echo "$capabilityId";?>">
						<input class="button" type="submit" value="Update &nbsp;&raquo;">
					</form>
					-->
					
					<form action="<?php echo "../$capabilityId/jnlp";?>">
						<input class="button" type="submit" value="Update &nbsp;&raquo;">					
					</form>
					
					<p class="small">If you did not own a workspace yet, then you will have to provide your name and a directory local to your computer in order to store shared documents. If you already own a local workspace, then it will be automatically updated.</p>

										
					</div>
					<div id="clearer"></div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p><a href=".">Home</a> - 
			   <a href="about/about.html">About</a> - 
			   <a href="about/tos.html">Terms</a> - 
			   <a href="about/policy.html">Privacy</a> - 
			   <a href="about/help.html">Help</a> - 
			   <a href="about/contact.html">Contact</a> - &copy; 2009 ECOO Team / LORIA / INRIA Nancy - Grand Est
			</p>			
		</div>
	</body>
</html>